[phases.setup]
nixPkgs = ["nodejs-20_x"]

[phases.install]
cmds = [
  "npm ci --include=dev"
]

[phases.build]
cmds = [
  "npm run build:railway"
]

[start]
cmd = "node dist/main.js"

[variables]
NODE_ENV = "production"
