[build]
builder = "DOCKERFILE"

[deploy]
startCommand = "npm run start:prod:dev"
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
healthcheckPath = "/api/health"
healthcheckTimeout = 300
